:root {

    /*==== COLORS ====*/
    --color-orange: #fd7c38;
    --color-gray: #333;
    --active-bg: #fff4ee;

    /*==== TEXT ====*/
    --h1: 42px;
    --h2: 30px;
    --h3: 26px;

    --space1: 4px;
    --space2: 8px;
    --space3: 12px;
    --space4: 16px;
    --space5: 20px;
    --space6: 26px;
    --space7: 34px;
    --space8: 45px;
    
}

