:root {

    /*==== COLORS ====*/
    --accent-color: #fd7c38;
    --text-color: #333;
    --bg-color: #f7f7f4;
    --bg-active: #fff4ee;

    /*==== TEXT ====*/
    --h1: 42px;
    --h2: 30px;
    --h3: 26px;
    --h4: 20px;
    --h5: 18px;

    --space1: 4px;
    --space2: 8px;
    --space3: 12px;
    --space4: 16px;
    --space5: 20px;
    --space6: 26px;
    --space7: 34px;
    --space8: 45px;
}

