.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-form {
    width: 450px;
    background: #fff;
    padding: 35px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.field input {
    width: 100%;
    font-size: 16px;
    padding: 14px 16px;
    border-radius: 6px;
    border: 1px solid #222;
}
.field button {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    background: var(--color-orange);
    color: #fff;
    cursor: pointer;
}
.closeModal {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ca3939;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    cursor: pointer;
}