.layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 1fr;
}
.sidebar {
    box-shadow: 0 10px 12px 3px rgba(0, 0, 0, 0.1);
}
.mainArea {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}